body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	font-size: 24px;
}

h1,
p {
	margin: 0;
}

p {
	margin-top: 8px;
}

.info {
	text-align: center;
}

.display {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--grey);
	border: 2px solid var(--comment);
	border-radius: 4px;
	margin: 8px 0px 0px 8px;
	width: calc(100% - 20px);
	height: 1.5em;
	font-size: 2em;
}

.number {
	color: var(--green);
	font-weight: 500;
	padding-right: 0.375em;
}

table {
	border-spacing: 8px;
	font-size: 1.5em;
	user-select: none;
}

tr > * {
	border: 1px solid var(--comment);
	width: 3.5em;
	height: 1.75em;
	border-radius: 4px;
	text-align: center;
	font-weight: normal;
}

tr > *:hover {
	filter: brightness(125%);
	cursor: pointer;
}

tr > *:active {
	filter: contrast(125%);
}

tr > th,
tr > td:last-child {
	background-color: var(--comment);
	font-weight: 500;
}

.send {
	background-color: var(--brown);
	color: var(--pink);
	font-weight: 500;
}
