@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
	--background: #282a36;
	--current: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--brown: #1d1e26;
	--grey: #383a59;
}

::selection {
	background-color: var(--pink);
	color: var(--background);
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

h1 {
	color: var(--pink);
}

h2 {
	color: var(--green);
}
