<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<script src="/javascripts/index.js" defer></script>
	</head>

	<body>
		<div class="info">
			<h1><%= title %></h1>
			<p>Bem-vindo à nossa calculadora implementada via microsserviços!</p>
		</div>
		<div class="calculator">
			<div class="display">
				<span class="expression">0</span>
			</div>
			<table>
				<tr>
					<th>(</th>
					<th>)</th>
					<th class="clear">C</th>
					<th class="delete">D</th>
				</tr>
				<tr>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>÷</td>
				</tr>
				<tr>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>×</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>-</td>
				</tr>
				<tr>
					<td>0</td>
					<td>.</td>
					<td class="send">=</td>
					<td>+</td>
				</tr>
			</table>
		</div>
	</body>
</html>
